@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p></p>
    <h1 class="display-4">Internetowa wyszukiwarka książek</h1>
    <p></p>
    <p></p>
    <p>Projekt opracowany w celu nauki ASP.NET Core. Głównym celem jest implementacja aplikacji ASP.NET MVC zarządzającej bazą danych książek. </p>
    <p>Aplikacja zapewnia funkcje takie jak wyświetlanie, dodawanie, usuwanie i modyfikowanie wpisów książek. </p>
</div>
