@{
    ViewData["Title"] = "Internetowa księgarnia";
}
<h1>@ViewData["Title"]</h1>

<p> Internetowa księgarnia umożliwiająca użytkownikom przeglądanie, wyszukiwanie i zakup książek z różnych kategorii.</p>
